
header 
{
    height: 25vh;
}

h1
{
    margin: 0;
}

#rule-list
{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rule
{
    font-size: 13pt;
    margin: 20px auto;
    padding: 0;
}

.center-stuff
{
    margin-top: 100px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons
{
    display: flex;
    width: 800px;
    align-self: center;
    justify-content:space-around;
    margin-top: 2em;
}

.game-button
{
    width: 200px;
    height: 200px;
}

.score-info-container
{
    display: flex;
    flex-direction: column;
}

#score-display, #who-won-last
{
    align-self: center;
    font-size: large;
}

.centered-flexcontainer
{
    align-self: center;
}

#reset-button
{
    margin-top: 1em;
    width: 100px;
    height: 50px;
}